*:not(head, script, html) {
    background-size: 122% 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    font-weight: 100;
    /* border: 2px solid #2a6599; */
    margin: 0;
    padding: 0;
    flex-direction: column;
    background-repeat: no-repeat;
    text-decoration: none;
    color: white;
    background-repeat: no-repeat;
    text-align: center;
}
body  {background-image: linear-gradient(to bottom, rgb(0 0 0), rgb(0 0 0 / 85%)),
url(background.jpg);justify-content: flex-start;/* flex-direction: column; *//* background-attachment: fixed; *//* height: max-content; *//* width: 67vw; */min-height: 100vh;}

@media only screen and (orientation: portrait) {

body  {/* background-image: linear-gradient(to bottom, rgb(0 0 0 / 95%), rgb(0 0 0 / 99%)),
url(background3.jpg); *//* justify-content: flex-start; *//* flex-direction: column; *//* background-attachment: fixed; *//* background-size: 100% 100%; */}
}


.row0 {}

.headerContainer {
    height: 24vh;
    width: 100%;
    /* background-image: linear-gradient(to bottom, rgb(0 0 0 / 53%), rgb(0 0 0 / 89%)), url(webimages/city.jfif); */
}

.rows {
    flex-direction: row;
    height: 610px;
    width: 100%;
}

.title_container {
    height: 100%;
    width: 50%;
    background-color: #00000000;
    /* border: 1px solid #fde700; */
    backdrop-filter: blur(3px) grayscale(11.4);
}

.background {
    width: 50%;
    background-color: #595959;
    height: 100%;
    backdrop-filter: blur(3px);
}

.Skills {
    height: max-content;
    width: 100%;
    display: inline;
}

.menu {
    width: 100%;
    flex-direction: row;
    height: 60px;
    justify-content: space-around;
}

img.portfolioicons {
    height: 141px;
    /* box-shadow: -6px 6px 2px 2px #000000a6; */
    /* border-radius: 100%; */
}

.background {}

.icons {
    height: 52px;
    width: 52px;
    display: inline-block;
    margin: 4% 31px;
}

.productsContainer {
    height: max-content;
    width: 100%;
    background-image: url(webimages/background2.jpg);
    background-attachment: fixed;
    background-size: 140% 110%;
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 53%), rgb(0 0 0 / 69%)), url(webimages/background2.jpg);
}

.projectrow {
    width: 100%;
    height: 100%;
    flex-direction: row;
    /* margin: 52px 0px; */
    border-radius: 52px;
    overflow: hidden;
}

.columntext {
    height: 100%;
    width: 50%;
    /* background-color: mediumspringgreen; */
}

.columnbackground {
    height: 120%;
    width: 50%;
}

a.a_link {
    width: 94%;
    height: 350px;
    margin: 32px 0px;
}

.header_Container {/* background-image: url("webimages/city.jfif"); */width: 100%;height: 564px;background-image: linear-gradient(to bottom, rgb(0 0 0 / 53%), rgb(0 0 0)), url(webimages/background2.jpg);justify-content: space-around;background-size: cover;}

.aboutrow {
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 0%), rgb(0 0 0)), url(webimages/city.jfif);
    background-attachment: fixed;
}

#about p {
    padding: 16px 10px;
    background-color: #000000a6;
    margin: 18px 22px;
    border-radius: 22px;
    font-size: 2rem;
    width: 83%;
}

.linkscontainer {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

a.github {
    height: 82px;
}

img.githubimg {
    height: 56px;
}

.contact {
    width: 100%;
}

.contact_container {
    width: 100%;
    /* height: 46vh; */
}

h1.contact_title {
    font-size: 1.8rem;
}

.home_container {
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 0%), rgb(0 0 0 / 0%)), url(webimages/background1.jpg);
    background-size: 103% 100%;
}

a p {
    font-size: x-large;
    text-decoration: underline;
}

.row0 h1 {
    margin: 0px 0px 40px 0px;
}

.columntext h1 {
    font-size: 5.9rem;
}

.title_container h1 {
    font-size: 3.9rem;
    text-shadow: 2px 2px 20px black;
}

form.form_varible {
    width: 100%;
    height: 100%;
    /* background-color: grey; */
    /* margin: 32px; */
}

input.input {
    height: 54px;
    /* margin: 17px 0px; */
    border-radius: 23px;
    width: 420px;
    margin-bottom: 32px;
    /* border: none; */
    text-align: left;
    font-size: 25px;
    padding: 4px;
    padding-left: 12px;
    color: #454545;
}

.contact_view {
    background-color: #ffffff;
    height: 682px;
    margin: 25px 0px;
    border-radius: 22px;
    width: 577px;
    overflow: hidden;
    box-shadow: -5px 4px 20px 2px #412a9f;
    margin-top: 52px;
}

textarea.txtarea {
    border-radius: 26px;
    height: 80px;
    width: 391px;
    height: 234px;
    font-size: 22px;
    text-align: left;
    padding: 22px;
    color: grey;
}

input.send {
    font-size: 20px;
    margin: 12px;
    width: 110px;
    padding: 6px;
    border-radius: 12px;
    background-color: #67d96e;
}

textarea.txtarea {}