*:not(head, script, html) {
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    font-weight: 100;
    /* border: 2px solid aliceblue; */
    margin: 0;
    padding: 0;
    flex-direction: column;
    background-repeat: no-repeat;
    text-decoration: none;
    color: white;
    background-repeat: no-repeat;
    text-align: center;
}
body  {background-image: linear-gradient(to bottom, rgb(0 0 0 / 83%), rgb(0 0 0 / 85%)),
url(background.jpg);justify-content: flex-start;flex-direction: column;background-attachment: fixed;height: max-content;}

@media only screen and (orientation: portrait) {

body  {background-image: linear-gradient(to bottom, rgb(0 0 0 / 95%), rgb(0 0 0 / 99%)),
url(background3.jpg);justify-content: flex-start;flex-direction: column;background-attachment: fixed;background-size: 100% 100%;}
}


.row0 {}

.headerContainer {
    height: 24vh;
    width: 100%;
    /* background-image: linear-gradient(to bottom, rgb(0 0 0 / 53%), rgb(0 0 0 / 89%)), url(webimages/city.jfif); */
}

.rows {
    flex-direction: row;
    height: 250px;
    width: 100%;
}

.title_container {
    height: 100%;
    width: 50%;
    background-color: #183465;
    border: 1px solid #fde700;
}

.background {
    width: 50%;
    background-color: #0000001c;
    height: 100%;
}

.Skills {
    height: max-content;
    width: 100%;
    display: inline;
}

.menu {
    width: 100%;
    flex-direction: row;
    height: 60px;
    justify-content: space-around;
}

img.portfolioicons {
    height: 82px;
    /* box-shadow: -6px 6px 2px 2px #000000a6; */
    /* border-radius: 100%; */
}

.background {}

.icons {
    height: 52px;
    width: 52px;
    display: inline-block;
    margin: 4% 31px;
}

.productsContainer {
    height: max-content;
    width: 100%;
    background-image: url(webimages/background2.jpg);
    background-attachment: fixed;
    background-size: 140% 110%;
}

.projectrow {
    width: 100%;
    height: 100%;
    flex-direction: row;
    /* margin: 52px 0px; */
    border-radius: 52px;
    overflow: hidden;
}

.columntext {
    height: 100%;
    width: 50%;
    /* background-color: mediumspringgreen; */
}

.columnbackground {
    height: 120%;
    width: 50%;
}

a.a_link {
    width: 94%;
    height: 350px;
    margin: 32px 0px;
}

.header_Container {/* background-image: url("webimages/city.jfif"); */width: 100%;height: 450px;background-image: linear-gradient(to bottom, rgb(0 0 0 / 53%), rgb(0 0 0)), url(webimages/background2.jpg);}

.aboutrow {
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 53%), rgb(0 0 0)), url(webimages/city.jfif);
    background-attachment: fixed;
}

#about p {
    padding: 16px 10px;
    background-color: black;
    margin: 18px 22px;
    border-radius: 22px;
}

.linkscontainer {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

a.github {
    height: 82px;
}

img.githubimg {
    height: 56px;
}

.contact {
    width: 100%;
}

.contact_container {
    width: 100%;
}

h1.contact_title {
    font-size: larger;
}

.home_container {
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 0%), rgb(0 0 0 / 0%)), url(webimages/background1.jpg);
    background-size: 153% 100%;
}